BOT_ID="" # Bot id (string, required)
BOT_TOKEN="" # Bot token (string, required)
GUILD_ID="" # Guild id (string, required)
NAME="" # Name of bot (used on dashboard) (string)
STATUS="" # Bot status (string)
GUILD_COMMANDS=true # Whether to register guild commands or not (boolean)
COOKIES="" # Cookies, check here to add them https://github.com/fent/node-ytdl-core/issues/661#issuecomment-654035395 (string)
DJ_ROLE="" # DJ role name (string, case-sensitive, do not use id - temporary)