@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply text-white;
    @apply bg-[radial-gradient(ellipse_at_bottom_left,_var(--tw-gradient-stops))] from-zinc-900 via-zinc-800 to-zinc-900;
  }

  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }

  .h0 {
    @apply text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-base font-bold md:text-lg;
  }

  .frost {
    backdrop-filter: blur(5px);
    @apply bg-opacity-60;
  }

  body,
  .p {
    @apply text-sm md:text-base;
  }

  /* https://tobiasahlin.com/spinkit */

  .spinner {
    width: 40px;
    height: 40px;
    background-color: grey;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }

  @-webkit-keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px);
    }
    50% {
      -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  body::-webkit-scrollbar {
    @apply bg-zinc-900;
    width: 16px;
  }
  body::-webkit-scrollbar-track {
    @apply bg-zinc-900;
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 16px;
    border: 4px solid;
    @apply border-zinc-900 bg-gray-400;
  }

  .arrow {
    animation: up-down 2s ease-in-out infinite;
    position: absolute;
  }

  @keyframes up-down {
    0%,
    100% {
      padding-top: 0;
    }
    50% {
      padding-top: 10px;
    }
  }
}
